.metadata/

target/
.classpath
.project
.settings/
.factorypath
bin/

.idea/
*.iml
out/

.vscode/

*.log
logs/

.env
*.env
application-local.properties

mvnw
mvnw.cmd
.mvn/
HELP.md

.DS_Store
Thumbs.db